<div id="pricing" class="pricing-tables">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h4>We Have The Best Pre-Order <em>Prices</em> You Can Get</h4>
            <img src="../../assets/images/heading-line-dec.png" alt="" />
            <p>
              "Experience unbeatable pre-order prices – all under ₹ 40000/-
              Get the latest products at wallet-friendly rates, only at [aPc
              web works]."
            </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="pricing-item-regular">
            <span class="price">₹ 6999/-</span>
            <h4>Basic Plan</h4>
            <div class="icon">
              <img src="../../assets/images//pricing-table-01.png" alt="" />
            </div>
            <ul>
              <li>Home Page / ✔</li>
              <li>Number of Pages / 5</li>
              <li class="non-function">Design Quality / Basic</li>
              <li class="non-function">Navigation system / ✔</li>
              <li class="non-function">Domain / -</li>
              <li>Domain Paid / ✔</li>
              <li class="non-function">Web space (Free for 1 year) / -</li>
            </ul>
            <div class="border-button">
              <a href="https://api.whatsapp.com/send?phone=7521831221">get Quote</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="pricing-item-pro">
            <span class="price">₹ 19999/-</span>
            <h4>Creative Plan</h4>
            <div class="icon">
              <img src="../../assets/images//pricing-table-02.png" alt="" />
            </div>
            <ul>
              <li>Home Page / ✔</li>
              <li>Number of Pages / 15</li>
              <li>Design Quality / Creative</li>
              <li>Navigation system / ✔</li>
              <li>Domain / (.com)</li>
              <li>Domain Paid / free</li>
              <li class="non-function">Web space (Free for 1 year) / 500MB</li>
            </ul>
            <div class="border-button">
              <a href="https://api.whatsapp.com/send?phone=7521831221">get Quote</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="pricing-item-regular">
            <span class="price">₹ 39999/-</span>
            <h4>E-Commerce Plan</h4>
            <div class="icon">
              <img src="../../assets/images//pricing-table-01.png" alt="" />
            </div>
            <ul>
              <li>Home Page / ✔</li>
              <li>Number of Pages / 15</li>
              <li>Design Quality / Creative</li>
              <li>Navigation system / ✔</li>
              <li>Domain / (.com)</li>
              <li>Domain Paid / free</li>
              <li>Web space (Free for 1 year) / 500MB</li>
            </ul>
            <div class="border-button">
              <a href="https://api.whatsapp.com/send?phone=7521831221">get Quote</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

